### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store!/assets/sound/effects/attack_decrease_stat.wav

!/assets/sound/effects/attack_normal.wav

!/assets/sound/effects/attack_normal_2.wav

!/assets/sound/effects/attack_normal_3.wav

!/assets/sound/effects/attack_super_effective.wav

!/assets/sound/effects/bag_heal.wav

!/assets/sound/effects/choice_selection.wav

!/assets/sound/effects/error_cant_go.wav

!/assets/sound/effects/health_low.wav

!/assets/sound/effects/run_away.wav
!/assets/sound/tracks/battle_trainer.wav

!/assets/sound/tracks/battle_wild_pkmn.wav

!/assets/sound/tracks/dewford_town.wav

!/assets/sound/tracks/help_me.wav

!/assets/sound/tracks/littleroot_town.wav

!/assets/sound/tracks/route_119.wav

!/assets/sound/tracks/route_120.wav

!/assets/sound/tracks/victory_gym_leader.wav

!/assets/sound/tracks/victory_team_aqua.wav

!/assets/sound/tracks/victory_trainer.wav

!/assets/sound/tracks/victory_wild.wav
